@{
    ViewData["Title"] = "Home";
}

<h2>Getting Started</h2>
<h4>First, go to the Products page and create new Product(s).</h4>

<h4>Then, go to the Invoices page and click on an existing Invoice or create a new one.</h4>
    
<h4>Finally, create a new Order for a Product on the Invoice.</h4>